@primary-color: #0BE79E;

// font color
@text-color: #101010;

// border color
@border: '';

// bg color
@bg-header: #ffffff;
@bg-section: #ffffff;
@bg-body: #F6F6F6;
@bg-footer: #F6F6F6;

// font size
@font-size-lg: 16px;
@font-size-md: 14px;
@font-size-sm: 12px;


// mixins
.size(@width, @height) {
    width: @width;
    height: @height;
}
.square(@size) {
    .size(@size, @size)
}

.position(@postion: absolute; @left: 50%; @top: 50%; @margin-top: -50%;  @margin-left: -50%;) {
    position: @postion;
    left: @left;
    top: @top;
    margin: @margin-top 0 0 @margin-left;
}

.layout(@width: 1332px) {
    width: @width;
    margin: 0 auto;
}

.clearfix {
    zoom: 1;
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
        visibility: hidden;
        font-size: 0;
        height: 0;
    }
}

.bg-size(@size: contain) {
    background-size: @size;
    background-repeat: no-repeat;
    background-position: center;
}